<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Учет расходов{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        {% include 'includes/header.html' %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>
